database/data
logs
.whatever
mongodb/.data
###> symfony/phpunit-bridge ###
src/.phpunit
src/.phpunit.result.cache
src/phpunit.xml
src/bin/.phpunit
###< symfony/phpunit-bridge ###

src/TESTE
.env*
!.env.example
