<h1>Hi!</h1>

<p>To reset your password, please visit the following link</p>

<a href="{{ app_url }}{{path('app_reset_password', {token: '123123'})}}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>This link will expire in {{ tokenLifetime|date('g') }} hour(s).</p>

<p>Cheers!</p>
